<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Charter</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h2>Charter</h2>
    <div class="row">
        <div class="col-md-6">
            <h5>CHARTER Charter of Corporation International Trade Union (CITU)</h5>
            <h3>Section I: General Provisions</h3>
            <p>Article 1: General Provisions</p>
            <p>1.1. Corporation International Trade Union (CITU) is an organization aimed at creating an international currency to unite the world market, achieve global goals and ultimately become an international organization for providing international currency.
            </p>
            <p>1.2. CITU's mission is to create a single international currency for all humanity and unite various unions and organizations, such as the European Union, USA, BRICS, G7, CSTO, UN and others, to solve common human problems such as poverty, epidemics, space threats, etc. d. This system operates as a DAO corporation.
            </p>
            <p>1.3. The official currency of CITU is a cryptocurrency backed by a special algorithm.</p>
            <!-- Add other sections similarly -->
        </div>
        <div class="col-md-6">
            <h5>Устав Corporation International Trade Union (CITU)
            </h5>
            <h3>Раздел I: Основные Положения
            </h3>
            <p>Статья 1: Общие Положения </p>
            <p>1.1. Corporation International Trade Union (CITU) - это организация, направленная на создание международной валюты для объединения мирового рынка, достижения глобальных целей и в конечном итоге стать международной организацией для предоставления международной валюты.
            </p>
            <p>1.2. Миссия CITU - создание единой международной валюты для всего человечества и объединения различных союзов и организаций, таких как Евросоюз, США, БРИКС, G7, ОДКБ, ООН и других, для решения общих человеческих проблем, таких как бедность, эпидемии, космические угрозы и т.д. Данная система работает как корпорация DAO.
            </p>
            <p>1.3. Официальной валютой CITU является криптовалюта citu dollar, обеспеченная специальным алгоритмом.
            </p>
            <!-- Add other sections similarly -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <h3>Section II: Management Structure
            </h3>
            <p>Article 2: Founder</p>
            <p>2.1. The founder of CITU has the right to change the code and amend the charter</p>
            <p>2.2. The founder has the right to veto any decisions if they contradict the charter or pose a security risk.
            </p>
            <!-- Add other sections similarly -->
        </div>
        <div class="col-md-6">

            <h3>Раздел II: Структура Управления </h3>
            <p>Статья 2: Основатель</p>
            <p>2.1. Основатель CITU имеет право изменять код и вносить поправки в устав
            </p>
            <p>2.2. Основатель имеет право наложить вето на любые решения, если они противоречат уставу или несут угрозу безопасности. </p>
            <!-- Add other sections similarly -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">


            <p> Article 3: Board of Directors</p>
            <p>3.1. The Board of Directors consists of 7 members. Each network participant can vote for any candidate to the Board of Directors, where each candidate receives as many votes “for” or “against” as the number of coins the voter has in stake. The 7 candidates with the highest ratings occupy seats on the Board of Directors for a period of 2 years.
            </p>
            <p>3.2. Decisions of the Board of Directors are made by a majority vote (at least 57%) and come into force unless there is a veto from the Judges.
            </p>
            <p>3.3. The Board of Directors may propose amendments to the bylaws provided they receive at least 75% of the votes and no veto by the Judges.
            </p>
            <!-- Add other sections similarly -->
        </div>
        <div class="col-md-6">

            <p>Статья 3: Совет Директоров </p>
            <p>3.1. Совет Директоров состоит из 7 членов. Каждый участник сети может проголосовать за любого кандидата в Совет Директоров, где каждый кандидат получает столько голосов "за" или "против", сколько монет у избирателя в стэйкинге. 7 кандидатов с наибольшим рейтингом занимают места в Совете Директоров сроком на 2 года</p>
            <p>3.2. Решения Совета Директоров принимаются большинством голосов (не менее 57%) и вступают в силу, если отсутствует вето со стороны Судей.
            </p>
            <p>3.3. Совет Директоров может предложить поправки в устав при условии получения не менее 75% голосов и отсутствия вето со стороны Судей.
            </p>
            <!-- Add other sections similarly -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Article 4: Judges
            </p>
            <p>4.1. The Council of Judges consists of 7 members. Each network participant can vote for any candidate for the Council of Judges, where each candidate receives as many votes “for” or “against” as the number of coins the voter has in stake. The 7 candidates with the highest ratings occupy seats on the Council of Judges for a period of 2 years.
            </p>
            <p>4.2. The judges have the power to veto any decisions if the number of votes against exceeds the number of votes in favor.
            </p>
            <p>4.3. Judges resolve disputes between CITU members and governing bodies.
            </p>
            <!-- Add other sections similarly -->
        </div>
        <div class="col-md-6">

            <p>Статья 4: Судьи
            </p>
            <p>4.1. Совет Судей состоит из 7 членов. Каждый участник сети может проголосовать за любого кандидата в Совет Судей, где каждый кандидат получает столько голосов "за" или "против", сколько монет у избирателя в стэйкинге. 7 кандидатов с наибольшим рейтингом занимают места в Совете Судей сроком на 2 года.
            </p>
            <p>4.2. Судьи имеют право наложить вето на любые решения, если количество голосов против превышает количество голосов за.
            </p>
            <p>4.3. Судьи решают споры между участниками CITU и органами управления.
            </p>
            <!-- Add other sections similarly -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Article 5: General Director</p>
            <p>5.1. The Director General is elected by CITU members for a period of 2 years.
            </p>
            <p>5.2. The General Director is responsible for external relations and execution of decisions.
            </p>
            <!-- Add other sections similarly -->
        </div>
        <div class="col-md-6">

            <p>Статья 5: Генеральный Директор </p>
            <p>5.1. Генеральный Директор избирается участниками CITU на срок 2 года.
            </p>
            <p>5.2. Генеральный Директор отвечает за внешние взаимоотношения и исполнение решений.
            </p>
            <!-- Add other sections similarly -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <h3>Section III: Electoral System</h3>
            <p>Article 6: Right to Vote</p>
            <p>6.1. Each participant who has coins and has reserved them for staking has the right to vote in proportion to the staking balance.
            </p>
            <p>6.2. Votes are linked to participants' accounts.
            </p>
            <!-- Add other sections similarly -->
        </div>
        <div class="col-md-6">

            <h3>Раздел III: Избирательная Система
            </h3>
            <p>Статья 6: Право Голоса
            </p>
            <p>6.1. Каждый участник, имеющий монеты и зарезервировавший их в стейкинг, имеет право голоса пропорционально стейкинг-балансу.
            </p>
            <p>6.2. Голоса привязаны к счетам участников.
            </p>
            <!-- Add other sections similarly -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Article 7: Electoral Procedure
            </p>
            <p>7.1. To elect officials, a standard voting procedure is used, based on the staking balance.
            </p>

            <!-- Add other sections similarly -->
        </div>
        <div class="col-md-6">

            <p>Статья 7: Избирательная Процедура</p>
            <p>7.1. Для избрания должностных лиц используется стандартная процедура голосования, основанная на стейкинг-балансе.
            </p>

            <!-- Add other sections similarly -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Section V: Mining</h3>
            <p>Article 8: Mining Principles</p>
            <p>8.1. Mining is based on an algorithm that combines elements of Proof of Stake (PoS) and Proof of Work
                (PoW).</p>
            <p>8.2. For mining you need to go to the localhost page :8082/, where multithreading is automatically
                enabled. Then, in the menu in the upper right corner, click on "Get Locked", select "Start", and click
                on "International Union Corporation". The message "Is Mining Proper" should appear in the information
                window.</p>
            <p>8.3. The console does not display information about the mining process so as not to slow it down. </p>
            <p>8.4. To stop mining, you need to double-click on the “Stop” button and then on the “Corporation
                International Union” inscription. If everything stopped correctly, the information window will
                disappear.</p>
            <p>8.5. A block is considered valid if its hash matches the target value using the formula: javaCopyint
                result = deterministicRandom.nextInt(limit); result = (int) ((int) (result + (actual.getHashCompexity()
                * waight)) + calculateScore(miner.getDigitalStakingBalance(), number));</p>
            <p>8.6. The mining system stimulates a smooth increase in the value of the coin, preventing sudden drops
                and is resistant to strong volatility.</p>
            <p>8.7. Investors can place bets or withdraw funds via the http://localhost:8082/mining tab.</p>
            <p>8.8. Account balances are checked at http://localhost:8082/testCalculate. If inconsistencies are found,
                you must inform the server owner.</p>
            <p>8.9. In the system, the block with the highest random number value, which is determined by three
                components, wins: difficulty, random number, staking.</p>
            <p>8.10. Each node selects the block with the highest score every 100 seconds and compares it with the
                blocks of other nodes.</p>
            <p>8.11. The mining reward is calculated using the formula: javaCopy(5 + coefficient + (difficulty * 0.2))
                * multiplier</p>
            <p>8.12. Historical features of the system include the creation of a special block at index 24281 to
                compensate participants affected by an attack on the blockchain.</p>

        </div>
        <div class="col-md-6">
            <h3>Раздел V: Майнинг</h3>
            <p>Статья 8: Принципы Майнинга</p>
            <p>8.1. Майнинг основан на алгоритме, объединяющем элементы Proof of Stake (PoS) и Proof of Work
                (PoW). </p>
            <p>8.2. Для майнинга необходимо перейти на страницу localhost:8082/, где автоматически включается
                многопоточность. Затем в меню в правом верхнем углу нажать на "Get Locked", выбрать "Start", и нажать на
                "International Union Corporation". В информационном окне должно появиться сообщение "Is Mining
                Proper".</p>
            <p>8.3. В консоли не отображается информация о процессе майнинга, чтобы не замедлять его.</p>
            <p>8.4. Для остановки майнинга нужно дважды нажать на кнопку "Stop" и затем на надпись "Corporation
                International Union". Если все остановилось корректно, информационное окно исчезнет.</p>
            <p>8.5. Блок считается валидным, если его хеш соответствует целевому значению по формуле: javaCopyint
                result = deterministicRandom.nextInt(limit); result = (int) ((int) (result + (actual.getHashCompexity()
                * waight)) + calculateScore(miner.getDigitalStakingBalance(), number));</p>
            <p>8.6. Система майнинга стимулирует плавное увеличение стоимости монеты, предотвращая резкие падения и
                устойчива к сильной волатильности.</p>
            <p>8.7. Вкладчики могут делать ставки или снимать средства на вкладку http://localhost:8082/mining.</p>
            <p>8.8. Баланс аккаунтов проверяется на http://localhost:8082/testCalculate. Если обнаружены
                несоответствия, необходимо сообщить владельцу сервера. </p>
            <p>8.9. В системе выигрывает блок с наибольшим значением случайного числа, которое определяется по трем
                компонентам: сложность, случайное число, стейкинг.</p>
            <p>8.10. Каждый узел выбирает блок с наибольшим количеством очков каждые 100 секунд и сравнивает его с
                блоками других узлов.</p>
            <p>8.11. Вознаграждение за майнинг рассчитывается по формуле: javaCopy(5 + coefficient + (difficulty *
                0.2)) * multiplier</p>
            <p>8.12. Исторические особенности системы включают создание специального блока на индексе 24281 для
                компенсации участников, пострадавших от атаки на блокчейн.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Article 9: Mining Reserve Provisions</p>
            <p>9.1. If violations are discovered during mining, the Council of Judges has the right to impose a temporary moratorium on the release of new coins.
            </p>
            <p>9.2. In the event of force majeure circumstances that threaten the system, the Founder may declare a state of emergency and temporarily suspend mining.
            </p>
            <p>9.3. After elimination of violations or force majeure Mining resumes as normal.
            </p>
        </div>
        <div class="col-md-6">
            <p>Статья 9: Резервные Положения Майнинга
            </p>
            <p>9.1. Если обнаружены нарушения при майнинге, Совет Судей имеет право наложить временный мораторий на выпуск новых монет.
            </p>
            <p>9.2. В случае форс-мажорных обстоятельств, угрожающих системе, Основатель может ввести чрезвычайное положение и временно приостановить майнинг.
            </p>
            <p>9.3. После устранения нарушений или форс-мажора майнинг возобновляется в штатном режиме.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Section VI: Final Provisions</h3>
            <p>Article 10: Entry into Force</p>
            <p>10.1. This Charter comes into force from the moment of its approval by the Founder.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Раздел VI: Заключительные Положения
            </h3>
            <p>Статья 10: Вступление в Силу</p>
            <p>10.1. Настоящий Устав вступает в силу с момента его утверждения Основателем.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Article 11: Changes to the Charter
            </p>
            <p>11.1. any changes to the Charter can be made with the approval of the Founder.
            </p>

        </div>
        <div class="col-md-6">
            <p> Статья 11: Изменения Устава
            </p>
            <p>11.1. любые изменения в Устав могут быть внесены с одобрения Основателя.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Section VII: Voting</h3>
            <p>Article 12 Voting</p>
            <p>12.1. Any vote is taken into account in the system for 2 years, where 360 days are taken per year, and approximately 576 blocks per day.
            </p>
            <p>12.2. Votes can be canceled or changed an unlimited number of times.
            </p>
            <p>12.3. Votes are tied to accounts, and their number changes depending on the staking balance. This also applies to officials.
            </p>
            <p>12.4. The votes can be re-voted, and the countdown will start again at 2 years.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Раздел VII: Голосование</h3>
            <p>Статья 12: Голосование</p>
            <p>12.1. Любой голос учитывается в системе в течение 2 лет, где за год берется 360 дней, а за сутки примерно 576 блоков.
            </p>
            <p>12.2. Голоса могут быть отменены или изменены неограниченное количество раз.
            </p>
            <p>12.3. Голоса привязаны к счетам, и их количество изменяется в зависимости от стейкинг-баланса. Это касается также должностных лиц.
            </p>
            <p>12.4. Голоса можно переголосовать, и отсчет будет снова начинаться с 2 лет.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Article 13: Removal of Officials
            </p>
            <p>13.1. Any position can be removed if the official's rating falls below 1 or relative to other candidates.
            </p>
            <p>13.2. The General Director may be removed from office if the rating drops or by decision of the Board of Directors and Judges.
            </p>
        </div>
        <div class="col-md-6">
            <p>Статья 13: Снятие Должностных Лиц
            </p>
            <p>13.1. Любую должность можно снять, если рейтинг должностного лица упадет ниже 1 или относительно других кандидатов.
            </p>
            <p>13.2. Генеральный Директор может быть снят с должности при падении рейтинга или по решению Совета Директоров и Судей.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Article 14: Financial Audit</p>
            <p>14.1. The Council of Judges is responsible for financial audit.
            </p>
            <p>14.2. Money donated voluntarily for projects of the Board of Directors and decisions made by them are controlled by the Board of Directors and the General Director.
            </p>
            <p>14.3. A financial committee is created with representatives of the Board of Directors and Judges to coordinate financial audits and control expenses.
            </p>

        </div>
        <div class="col-md-6">
            <p>Статья 14: Финансовый Аудит
            </p>
            <p>14.1. За финансовый аудит отвечает Совет Судей.
            </p>
            <p>14.2. Деньги переданные добровольно на проекты Совета директоров и принятые решения ими, контролируются Советом Директоров и Генеральным Директором.
            </p>
            <p>14.3. Создается финансовый комитет с представителями Совета Директоров и Судей для координации финансового аудита и контроля за тратами.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Article 15: Rights of Participants
            </p>
            <p>15.1. Each participant has the right to be elected and to be elected.
            </p>
            <p>15.2. Each participant has the right to create decisions that can be voted on by the Board of Directors and the Board of Judges.
            </p>
            <p>15.3. Participants who have coins and have reserved them for staking have the right to vote.
                Conclusion
                These Bylaws establish the basis for the governance of CITU. The main goal of CITU is to promote the unification of humanity through a single currency to solve global problems.
                date of approval of the charter 06/21/2024 founder nNifuwmFZr7fnV1zvmpiyQDV5z7ETWvqR6GSeqeHTY43</p>
        </div>
        <div class="col-md-6">
            <p>Статья 15: Права Участников
            </p>
            <p>15.1. Каждый участник имеет право избираться и быть избранным.</p>
            <p>15.2. Каждый участник имеет право создавать решения, за которые могут голосовать Совет Директоров и Совет Судей.
            </p>
            <p>15.3. Участники, имеющие монеты и зарезервировавшие их в стейкинг, имеют право голосовать.
                Заключение
                Данный Устав устанавливает основы для управления CITU. Основная цель CITU - содействие объединению человечества посредством единой валюты для решения глобальных проблем.
                дата утверждения устава 21.06.2024 основатель nNifuwmFZr7fnV1zvmpiyQDV5z7ETWvqR6GSeqeHTY43</p>
        </div>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
