<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

<!--<header th:insert="blocks/header :: header "></header>-->
<header th:insert="blocks/header :: header"></header>
<div class="container mt 5">
    <h1 th:text="${title}"></h1>
    <h1 th:text="'your server: '+${server}"></h1>
</div>

<div  class="alert alert-info mt-2">
    <h4 th:text="'miner address: '+${account.account}"/>
    <p th:text="'digital dollar: '+${#numbers.formatDecimal(account.digitalDollarBalance, 1, 'COMMA', 10, 'POINT')}"/>
    <p th:text="'digital stock: '+${#numbers.formatDecimal(account.digitalStockBalance, 1, 'COMMA', 10, 'POINT')}"/>
    <p th:text="'digital staking: '+${#numbers.formatDecimal(account.digitalStakingBalance, 1, 'COMMA', 10, 'POINT')}"/>
    <p th:text="'staking score: '+${score}"/>


</div>
<div  class="alert alert-info mt-2">
    <h4 th:text="'blockchain local size: ' + ${size}"/>
    <h4 th:text="'blockchain global size: ' + ${globalSize}"/>
    <h4 th:text="'local version: ' + ${version}"/>
    <h4 th:text="'global version: ' + ${global_version}"/>
    <h4 th:text="'local validation: ' + ${validation}"/>
    <h4 th:text="'the current difficulty of one block.: '+${difficultOneBlock}"/>
    <h4 th:text="'the current complexity of the blockchain.: '+${difficultAllBlockchain}"/>

</div>

<div class="container mt-5 mb-5">
    <form action="/" method="post">
        <input type="text" name="sender" placeholder="enter the sender's address" class="form-control"><br>
        <input type="text" name="recipient" placeholder="enter the recipient's address" class="form-control"><br>
        <input type="text" name="dollar" placeholder="enter the number of digital dollars to send" class="form-control"><br>
        <input type="text" name="stock" placeholder="enter the number of digital shares to send" class="form-control"><br>
        <input type="text" name="reward" placeholder="enter the number of digital dollars to send for miner" class="form-control"><br>

        <textarea name="password" placeholder="enter private key" th:rows="8" th:cols="120"></textarea><br>
        <button type="submit" class="btn btn-success">Send money</button><br>
    </form>


</div>

<div class="container mt-5 mb-5">
    <form action="/resolving" method="get">
        <button type="submit" class="btn btn-success">Update blockchain</button><br>
    </form>
</div>





<footer th:insert="blocks/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>