<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header "></header>


<div class="container mt-5">
    <h3 th:text="${title}"/>


<!--    <form action="/mine" method="get">-->
<!--        <button type="submit" class="btn btn-success">Start mining</button><br>-->
<!--    </form>-->

    <form action="/constantMining" class="container mt-1">
        <button type="submit" class="btn btn-success">Constant mining 576 block in while</button>
    </form>
</div>

<div  class="alert alert-info mt-2">
    <h4 th:text="'from what number you need to look for block search: '+${number}"/>
    <h4 th:text="'max number: '+${max}"/>
</div>


<div class="container mt-5 mb-5">
    <form action="/setNumber" method="post">
        <input type="text" name="number" placeholder="input number start searching hash" class="form-control"><br>
        <button type="submit" class="btn btn-success">change number start hash</button><br>
    </form>

</div>

<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>