<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>


<div class="container mt-5">
    <h3 th:text="${title}"/>

    <form action="/constantMining" class="container mt-1">
        <button type="submit" class="btn btn-success">start</button>
    </form>

    <h3 th:text="'acutal custom diff: '+${customDiff}"/>
    <form action="/customDiff" class="container mt-1" method="post">
        <input type="text" name="customDiff" placeholder="enter the new difficult:" class="form-control"><br>
        <button type="submit" class="btn btn-success">change custom diff</button>
    </form>

    <form action="/staking" class="container mt-1" method="post">
        <input type="text" name="miner" placeholder="enter the your address:" class="form-control"><br>
        <input type="text" name="dollar" placeholder="enter the dollar (not les 0.000001):" class="form-control"><br>
        <textarea name="password" placeholder="enter private key" th:rows="8" th:cols="120"></textarea><br>
        <button type="submit" class="btn btn-success">send transaction staking</button>
    </form>

    <form action="/unstaking" class="container mt-1" method="post">
        <input type="text" name="miner" placeholder="enter the your address:" class="form-control"><br>
        <input type="text" name="dollar" placeholder="enter the dollar (not les 0.000001): " class="form-control"><br>
        <textarea name="password" placeholder="enter private key" th:rows="8" th:cols="120"></textarea><br>
        <button type="submit" class="btn btn-success">send transaction unstaking</button>
    </form>
</div>


<footer th:insert="blocks/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>