
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header "></header>
<div class="container mt-5">
    <div  class="alert alert-info mt-2">
        <h3 th:text="'address: ' + ${address}"/>
        <h3 th:text="'dollar: '+${dollar}"/>
        <h3 th:text="'stock: '+${stock}"/>
        <h3 th:text="'is mining: '+${isMining}"/>
        <h3 th:text="'is updating: '+${isUpdating}"/>
        <h3 th:text="'is stop: '+${stop}"/>
        <h3 th:text="'serearching difficult: '+${expectedDifficult}"/>

        <h6>after click stop mining need waiting</h6>
        <form action="/stopMining" class="container mt-1">
            <button type="submit" class="btn btn-success">stop mining</button>
        </form>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>