<div th:fragment="footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Back to the top</font></font></a>
            </p>
            <p class="mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Пример альбома: © Bootstrap, но, пожалуйста, загрузите и настройте его под себя!</font></font></p>
            <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Новичок в Bootstrap? </font></font><a href="/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Посетите домашнюю страницу</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> или прочитайте наше </font></font><a href="/docs/5.2/getting-started/introduction/"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">руководство по началу</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> работы .</font></font></p>
        </div>
    </footer>
</div>